$font-size-base:16px;

$text-base: $font-size-base; 
$text-sm: $font-size-base*1.25; 
$text-md: $font-size-base*1.5; 
$text-lg: $font-size-base*2.25; 

$primary-color: #3F5D45;
$secondary-color:#EAF0ED;
$button-color:#FFE180;